html,
body {
  font-family: Arial, Helvetica, sans-serif;
}
.background{
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  z-index: -1;
}
.about {
  padding-left: 550px;
  padding-right: 550px;
  text-align: left !important;
}
.ufo{
  width: 90px;
  margin-left: 272px;
  margin-bottom: -90px;
}
.proj-lst{
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 20px;
  margin-top: 20px;
}
section {
  padding-left: 550px;
  padding-right: 550px;
  margin-top: 40px;
}
details {
  padding-left: 550px;
  padding-right: 550px;
  margin-top: 10px;
}
.blogs {
  height: 375px;
}
.contact {
  height: 375px;
}
.cont-lst{
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 20px;
  margin-top: 20px;
}
@media only screen and (max-width: 1706px) {
  .about {
    padding-left: 200px;
    padding-right: 200px;
  }
  section,
  details {
    padding-left: 200px;
    padding-right: 200px;
  }
}
@media only screen and (max-width: 850px) {
  .about {
    padding-left: 45px;
    padding-right: 45px;
    text-align: left !important;
  }
  .proj-lst, .cont-lst{
    margin-left: 0px;
  }
  section,
  details {
    padding-left: 45px;
    padding-right: 45px;
  }
}
